@use '../abstracts/fonts' as f;

#page-wrap {
  background: url('/src/assets/bg.jpg');
  background-size: 100%;
  background-position: center;

}

main {

  color: #f59e0b;
  font-family: monospace;

  img {
    width: 1rem;
    height: 1rem;
  }

  #time {

  }

  #location {
    font-size: 2rem;
    font-weight: 500;
  }

  #temperature {
    font-size: 2.5rem;
    font-weight: 700
  }

  #description {
    font-size: 1.1rem;
  }

  #feels{
    font-size: 1.1rem;
  }
}
