@use '../abstracts/colors' as c;

#page-wrap {
  background: url('/src/assets/bg.jpg');
  background-size: 100%;
  background-position: center;
  background-color: c.$black;
}

main {

  color: c.$orange;
  font-family: monospace;

  img {
    filter: invert(73%) sepia(78%) saturate(3420%) hue-rotate(0deg) brightness(104%) contrast(92%);
    width: 1rem;
    height: 1rem;
  }

  #location {
    font-size: 2rem;
    font-weight: 500;
  }

  #temperature {
    font-size: 2.5rem;
    font-weight: 700
  }

  #description {
    font-size: 1.1rem;
  }

  #feels{
    font-size: 1.1rem;
  }
}
