body{
  width: 100 vw;
  height: 100 vh;
}

#page-wrap{
  height: 95vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  main {
    flex-basis: 75%;
    min-width: 50%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    #secondary-weather{
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 0.8rem;
      align-items: center;
    }
  }
}

footer{
  height: 5vh;
}
